@charset "UTF-8";

/* Aplicando estilos globais (para celular) */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@media screen and (max-width: 680px) {
    main {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        overflow: hidden;
    }


    #login {
        max-width: 450px;
        height: 600px;
        border-radius: 30px;
        padding: 20px;
    }

    #div_logo {
        display: flex;
        justify-content: center;
    }

    #agendaSenai_png {
        width: 200px;
        height: 51px;
        margin-bottom: 40px;
        margin-top: 30px;
    }

    #login h1 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 20px;
    }

    #p_usuario {
        margin-bottom: 5px;
        margin-left: 7px;
        font-weight: normal;
        font-size: 20px;
        font-family: sans-serif;
        width: 50px;
    }

    #p_senha {
        margin-bottom: 5px;
        margin-left: 7px;
        font-weight: normal;
        font-size: 20px;
        font-family: sans-serif;
        width: 50px;
    }



    #p_bemvindo {
        text-align: left;
        font-size: 18px;
        font-family: sans-serif;
        margin-bottom: 40px;
        color: #101010;
    }

    /* deixar input.required com cor de fundo branco */
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset !important;
        -webkit-text-fill-color: #000000 !important;
    }

    #div_email {
        background-color: white;
        border-radius: 15px;
        height: 50px;
        margin-bottom: 30px;
    }

    #div_email:hover {
        cursor: text;
        background-color: white;
    }

    #input_email {
        width: 100%;
        height: 35px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-left: 2px solid gray;
        border-bottom: none;
        border-right: none;
        border-top: none;
        border-radius: 0px 15px 15px 0px;
        outline: none;
        margin-left: 5px;
        font-size: 15px;
        background-color: white !important;
        color: black;
    }

    #input_email:focus {
        border-left: 2px solid gray;
        border-bottom: none;
        border-right: none;
        border-top: none;
        box-shadow: none;
        background-color: white !important;
        color: black;
    }

    #div_senha {
        background-color: white;
        border-radius: 15px;
        margin-bottom: 40px;
        height: 50px;
        display: flex;
        align-items: center;
    }

    #div_senha:hover {
        cursor: text;
    }

    #input_password {
        width: 85%;
        height: 35px;
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-left: 2px solid gray;
        border-bottom: none;
        border-right: none;
        border-top: none;
        outline: none;
        border-radius: 0px 15px 15px 0px;
        margin-left: 5px;
        font-size: 15px;
        background-color: white !important;
        color: black;
    }

    #input_password:focus {
        background-color: white !important;
        color: black;
        border-left: 2px solid gray;
        border-bottom: none;
        border-right: none;
        border-top: none;
        box-shadow: none;
    }

    #div_inputs02 {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    #icone_usuario {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        cursor: text;
    }

    #icone_senha {
        width: 30px;
        height: 30px;
        margin-left: 5px;
        cursor: text;
    }

    /* nao permite que o usuario consiga arastar os icones em nenhum navegador (isso serve para as img e icones) */
    #icone_usuario,
    #icone_senha {
        -webkit-user-drag: none;
        /* Chrome, Safari, Opera */
        -khtml-user-drag: none;
        /* Konqueror */
        -moz-user-drag: none;
        /* Firefox */
        -o-user-drag: none;
        /* Opera */
    }

    #div_span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #span_error {
        color: rgb(0, 0, 0);
        font-family: sans-serif;
        font-size: large;
        margin-top: 10px;
        margin-bottom: 40px;
        display: none;
    }

    #div_entrar {
        display: flex;
        justify-content: center;
    }

    #btn_entrar {
        width: calc(100% - 40px);
        height: 40px;
        border-radius: 5px;
        background-color: #215299;
        margin-bottom: 20px;
        cursor: pointer;
        font-weight: 540;
        font-size: 16px;
        color: #eee;
        outline: none;
        border: 0.5px solid black;
    }

    #btn_entrar:hover {
        background-color: #072755;
    }

    #div_cadastro {
        display: flex;
        justify-content: center;
        color: black;
    }

    #a_pagLogin {
        text-decoration: none;
        font-size: large;
        color: #215299;
    }

    #p_cadastro {
        font-size: large;
    }

    .hidden {
        opacity: 0;
        filter: blur(15px);
        transform: translateX(30%);
        transition: transform 1.5s, filter 1s;
    }

    .show {
        opacity: 1;
        filter: blur(0px);
        transform: translate(0);
        transition: transform 1.5s, filter 1s;
    }

    .border_red {
        border: 2px solid #af2e2e;
    }

    .border_black {
        border: 1px solid black;
    }



}